<div class="home-banner">
  <div class="navbar">
    <div class="logo">
      <span id="letter">a</span>
      <span id="word">LITTMANN</span>
    </div>
  </div>
  <div class="home-banner-content">
    <h1>I am a fullstack developer</h1>
    <p class="hidden-xs">Be careful not to touch the balls!</p>
  </div>
  <canvas id="world" class="hidden-xs"></canvas>
</div>

<div class="blue-banner banner">
  <div class="container">
    <!-- <div class="banner-title">
      <h2>What I do</h2>
    </div> -->
    <div class="row">

      <div class="col-xs-12 col-md-4">
        <div class="feature-card">
          <i class="fa fa-code"></i>
          <h3>Web developer</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit officia est distinctio velit error qui nemo. Dicta sequi alias neque, provident natus quidem maiores nesciunt iure adipisci. Architecto, enim neque.</p>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="feature-card">
          <i class="fa fa-graduation-cap"></i>
          <h3>Teacher</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque sapiente molestiae minima? Voluptate facere odit quis incidunt aspernatur facilis, fuga exercitationem, reiciendis nam vero quod consequatur deleniti unde tempora sed?</p>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="feature-card">
          <i class="fa fa-usd"></i>
          <h3>Business developer</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis facilis illo quis, asperiores eum modi rem deserunt expedita deleniti corrupti ab vero magnam similique sunt, voluptatibus pariatur iusto labore tempore.</p>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="banner">
  <div class="container">
    <div class="banner-title">
      <h2>About me</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-offset-2 col-md-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit officia est distinctio velit error qui nemo. Dicta sequi alias neque, provident natus quidem maiores nesciunt iure adipisci. Architecto, enim neque.</p>
      </div>
    </div>
  </div>
</div>

<div class="blue-banner banner">
    <div class="banner-title">
      <h2>Where am I ?</h2>
    </div>
    <div class="map"></div>
</div>

<div class="banner">
  <div class="container">
    <div class="banner-title">
      <h2>Latest videos</h2>
    </div>
    <div class="row">
      <% @latest_videos_ids.each do |id| %>
        <div class="col-xs-12 col-md-4">
          <iframe width="100%" height="210" src="https://www.youtube.com/embed/<%= id %>" frameborder="0" allowfullscreen></iframe>
        </div>
      <% end %>
    </div>
  </div>
</div>


<%= content_for(:after_js) do %>
  <script>
    var screenWidth = (window.innerWidth > 0) ? window.innerWidth : screen.width;

    $( document ).ready(function() {
      var myCanvas = document.getElementById('world'),
        Engine = Matter.Engine,
        Render = Matter.Render,
        Runner = Matter.Runner,
        Composites = Matter.Composites,
        Common = Matter.Common,
        MouseConstraint = Matter.MouseConstraint,
        Mouse = Matter.Mouse,
        World = Matter.World,
        Bodies = Matter.Bodies;

      var engine = Engine.create(),
        world = engine.world;
      var render = Render.create({
        canvas: myCanvas,
        engine: engine,
        options: {
          width: screenWidth,
          height: 600,
          showAngleIndicator: false,
          wireframes: false,
          background: 'transparent',
        }
      });

      Render.run(render);



      // create runner
      var runner = Runner.create();
      Runner.run(runner, engine);

      // add bodies
      var stack = Composites.stack(50, 185, 14, 10, 10, 0, function(x, y) {
          return Bodies.circle(x, y, 20);
      });

      World.add(world, [
        // walls
        // Bodies.rectangle(400, 0, 800, 10, { isStatic: true }), // top
        Bodies.rectangle(400, 600, 800, 5, { isStatic: true, render: {
           fillStyle: 'transparent',
           lineWidth: 0
          }
        }), // bottom
        // Bodies.rectangle(800, 300, 50, 0, { isStatic: true }), // right
        // Bodies.rectangle(0, 300, 50, 600, { isStatic: true }), // left
        stack
      ]);

      // add mouse control
      var mouse = Mouse.create(render.canvas),
        mouseConstraint = MouseConstraint.create(engine, {
          mouse: mouse,
          constraint: {
            stiffness: 0.2,
            render: {
                visible: false
            }
          }
        });
        mouseConstraint.mouse.element.removeEventListener("mousewheel", mouseConstraint.mouse.mousewheel);
        mouseConstraint.mouse.element.removeEventListener("DOMMouseScroll", mouseConstraint.mouse.mousewheel);


      World.add(world, mouseConstraint);

      // keep the mouse in sync with rendering
      render.mouse = mouse;

      // fit the render viewport to the scene
      Render.lookAt(render, {
          min: { x: 0, y: 0 },
          max: { x: 800, y: 600 }
      });

      // context for MatterTools.Demo
      return {
          engine: engine,
          runner: runner,
          render: render,
          canvas: render.canvas,
          stop: function() {
              Matter.Render.stop(render);
              Matter.Runner.stop(runner);
          }
      };


    });
  </script>
<% end %>
