.footer {
  background-color: #141e30;
  color: #E5E5E5;
  padding: 30px 0 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-content {
  i {
    margin-right: 30px;
    font-size: 22px;
  }
  a {
    color: #E5E5E5;
    &:hover {
      color: #CDCDCD;
      text-decoration: none;
    }
  }
}
